* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: #255994;
}
.container {
  min-width: 1200px;
  width: 95%;
}
.wrapper {
  position: relative;
}
.wrapper .slide-button {
  position: absolute;
  top: 50%;
  height: 50px;
  width: 50px;
  color: #000;
  border: none;
  outline: none;
  background-color: #fff;
  font-size: 2.2rem;
  cursor: pointer;
  border-radius: 50%;
  transform: translateY(-50%);
}
.wrapper .slide-button:hover {
  background-color: #444;
  color: #fff;
}
.wrapper .slide-button#prev-slide {
  left: -20px;
  display: none;
}
.wrapper .slide-button#next-slide {
  right: -20px;
}

.wrapper .img-list {
  display: grid;
  gap: 18px;
  font-size: 0;
  margin-bottom: 30px;
  overflow-x: auto;
  scrollbar-width: none;
  grid-template-columns: repeat(10, 1fr);
}
.wrapper .img-list::-webkit-scrollbar {
  display: none;
}
.wrapper .img-list .img-item {
  width: 325px;
  height: 400px;
  object-fit: cover;
}
.container .slider-scrollbar {
  width: 100%;
  height: 24px;
  display: flex;
  align-items: center;
}
.slider-scrollbar .scrollbar-track {
  width: 100%;
  height: 2px;
  background: #ccc;
  position: relative;
  border-radius: 4px;
}
.slider-scrollbar:hover .scrollbar-track {
  height: 4px;
}
.slider-scrollbar .scrollbar-thumb {
  position: absolute;
  width: 50%;
  height: 100%;
  background: #000;
  border-radius: inherit;
  cursor: grab;
}
.slider-scrollbar .scrollbar-thumb:active {
  cursor: grabbing;
  height: 8px;
  top: -2px;
}
.slider-scrollbar .scrollbar-thumb::after {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  top: -10px;
  bottom: -10px;
}
@media (max-width: 1023px) {
  .wrapper .slide-button {
    display: none !important;
  }
  .wrapper .img-list {
    gap: 10px;
    margin-bottom: 15px;
  }
  .wrapper .img-list .img-item {
    width: 280px;
    height: 380px;
  }
  .slider-scrollbar .scrollbar-thumb {
    width: 20%;
  }
}
